<div class='aboutText'>
    <div class='container'>
        <h1>Frisbski</h1>
        <p>Frisbski is an alpin skiing and frisbee discipline, involving throwing and catching a frisbee while skiing down slopes.</p>
        <p>This website is the official website for information and promotion of the sport.</p>
    </div>
</div>
<div class='history'>
    <div class='container'>
        <h1>History</h1>
        <p>In 2012 Einar Beinteinn Árnason and Ólafur Torfi Yngvason started playing with a frisbee while on a skitrip to Hlíðarfjall Akureyri.</p>
        <p>In early 2015 the Frisbski website was launched.</p>
    </div>
</div>
<div class='goals'>
    <div class='container'>
        <h1>Goals</h1>
        <p>To spread knowledge about Frisbski</p>
        <p>To make the official frisbski disk allowed in as many skislopes as possible (or prevent it from being banned</p>
    </div>
</div>
