<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->
<div>
  <div class="container">
    <div class="col-xs-12 col-sm-8 col-sm-offset-4 col-md-5 col-md-offset-7 col-lg-4 col-lg-offset-8 about">
      <h3>Frisbski is a sport where 2 players take turns throwing and catching a frisbee in a skislope</h3>
      <button type='button' class='btn btn-info' ng-click='goToAbout()'>Details</button>
      <button type='button' class='btn btn-success' ng-click='goToRules()'>Rules</button>
    </div>
  </div>
  <img class='img-responsive' src='/images/jump.jpg'>
  </img>
</div>
<div class="blog">
  <div class='container'>
    <h2>{{blog.title}}</h2>
    <div ng-bind-html="blog.embedded">
    </div>
    <a class="left carousel-control" role="button" ng-click="previousBlog()">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" role="button" ng-click="nextBlog()">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <!-- <div class='col-xs-0 col-sm-0 col-md-3 col-lg-2'>
      <div class='bloglist'>
        <div ng-repeat='blog in blogs' ng-click='setPost(blog)'>{{blog.title}}</div>
      </div>
    </div> -->
  </div>
</div>
<!-- <div class="users">
  <div class='container'>
    <div ng-repeat='user in users' class='col-xs-12 col-sm-6 col-md-6 col-lg-6'>
      <div class='center'>
        <img class='img-responsive img-user img-circle' ng-src='{{user.image}}'>
        </img>
      </div>
      <h2>{{user.title}}</h2>
      <p>{{user.text}}</p>
    </div>
  </div>
</div> -->

<!-- 

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
