<div class='odd'>
	<div class='container'>
		<h1>General</h1>
		<p>A pair of players take turns throwing and catching the frisbee in a designated skislope. They collect points based on the distance of their throws. The pair with the most points wins.</p>
	</div>
</div>
<div class='even'>
	<div class='container'>
		<h1>Points</h1>
		<p>1 point is given for each meter of distance in 3 dimensional space. From the point where the disk is thrown to where it is cought. As long as both points are within the designated skislope.</p>
	</div>
</div>